<h1>Create a brand</h1>

<form method="POST" role="form" action="new">
  <form-group>
    <label for="name">Name:
    <input class="form-control" type="text" name="name"/>
  </form-group>

  <form-group>
    <label for="description">Description:
    <textarea class="form-control" type="text" name="description"/></textarea>
  </form-group>

  <button class="btn" type="submit">Submit</button>
</form>
