<h1>
  <%= "Brands" %>
</h1>

<% if @brands %>
  <% if @brands.count > 0 %>
    <% @brands.each do |brand| %>
      <% p brand %>
      <p><%= brand.name %>
    <% end %>
  <% else %>
    <p>There aren't any brands.
  <% end %>
<% elsif @count %>
  <p>Count: <%= @count %>
<% end %>
