<div class="text-center">
  <h1>Create a post</h1>

  <form class="horizontal" method="POST" role="form" action="/create">

    <form-group>
      <label for="title">Title:
      <input class="form-control" id="title" type="text" name="title"/>
    </form-group>

    <form-group>
      <label for="title">Post:
      <textarea class="form-control" id="text" type="text" name="text"/></textarea>
    </form-group>

    <button class="btn" type="submit">Submit</button>

  </form>
</div>
