.text-center
  %h1= locals[:welcome_message]

  - @posts = locals[:posts]
  - if @posts and not @posts.empty?
    %ul
      - for post in @posts
        %li.lead
          %a{href: "/#{post.title}"}
            = post.title
  - else
    %p You haven't created any posts yet.

  .btn
    %a{href: '/create'} Create a new post
