<div class="text-center">
  <h1><%= locals[:welcome_message] %></h1>

  <% @posts = locals[:posts] %>
  <% if @posts and not @posts.empty? %>
    <ul>
      <% for post in @posts %>
        <li id="lead">
          <a href= <%= post.title %>>
            <%= post.title%>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't created any posts yet.</p>
  <% end %>

  <a href="/create" class="btn">Create a new post</a>
</div>
